{% extends 'base.html' %}

{% block content%}
{% load static %}
<div class="hb_breadcrumbs_wrapper">
	<div class="hb_overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="hb_pageheading wow fadeIn" data-wow-delay="1s">
					<h3>About us</h3>
					<ol class="breadcrumb">
						<li><a href="index-2.html">Home</a></li>
						<li class="active">About us</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="hb_white_wrapper about_sec hb_toppadder75 hb_bottompadder80">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm1-12 col-xs-12">
				<div class=" hb_mainheading hb_bottompadder40">
					<h2>Bizpressions</h2>
					<h3>Who we Are</h3>
				</div>
			</div>
		</div>
		<div class="hb_about_box">
			<div class="row">
				<div class="col-lg-offset-1 col-lg-5 col-md-6 col-sm-12 col-xs-12 wow fadeIn">
					<div class="hb_about_img">
						<img src="{% static 'img/blog_big1.jpg' %}" class="img-responsive" alt="about-image">
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 wow fadeIn" data-wow-delay="0.5s">
					<div class="hb_about_data">
						<div class="hb_about_overlay_inner">
							<div class="border_right">
								<h3 class="hp">We are amazing</h3>
								<h4>remedies for all problems</h4>
							</div>
							<p>We are a one-of-its-kind online store, offering a range of raw material and related
								products for Small and Medium-scale businesses.

								Challenges in sourcing key raw material specially in small quantities, lead us to start
								this web store. Our primary objective is to make available as many as possible raw
								materials in affordable quantities for emerging and small businesses.

								Currently, our website offers input raw material and allied products for industry
								segments like Food & Beverages, Cosmetics & Personal Care, Nutraceuticals,
								Pharmaceuticals, E-commerce Sellers etc. </p>

							<ul class="">
								<li class="wow fadeIn" data-wow-delay="0.8s">
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29.107 29.107"
										style="enable-background:new 0 0 29.107 29.107;">
										<g>
											<g>
												<g>
													<path
														d="M14.554,0C6.561,0,0,6.562,0,14.552c0,7.996,6.561,14.555,14.554,14.555c7.996,0,14.553-6.559,14.553-14.555     C29.106,6.562,22.55,0,14.554,0z"
														fill="#88B44E" />
												</g>
											</g>
											<g>
											</g>
										</g>
									</svg>
									Best Branding
								</li>
								<li class="wow fadeIn" data-wow-delay="1s">
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29.107 29.107"
										style="enable-background:new 0 0 29.107 29.107;">
										<g>
											<g>
												<g>
													<path
														d="M14.554,0C6.561,0,0,6.562,0,14.552c0,7.996,6.561,14.555,14.554,14.555c7.996,0,14.553-6.559,14.553-14.555     C29.106,6.562,22.55,0,14.554,0z"
														fill="#88B44E" />
												</g>
											</g>
											<g id="Capa_1_14_">
											</g>
										</g>
									</svg>
									Delivery On Time
								</li>
								<li class="wow fadeIn" data-wow-delay="1.2s">
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29.107 29.107"
										style="enable-background:new 0 0 29.107 29.107;">
										<g>
											<g>
												<g>
													<path
														d="M14.554,0C6.561,0,0,6.562,0,14.552c0,7.996,6.561,14.555,14.554,14.555c7.996,0,14.553-6.559,14.553-14.555     C29.106,6.562,22.55,0,14.554,0z"
														fill="#88B44E" />
												</g>
											</g>
											<g>
											</g>
										</g>
									</svg>
									Free Accessories
								</li>
								<li class="wow fadeIn" data-wow-delay="1.4s">
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29.107 29.107"
										style="enable-background:new 0 0 29.107 29.107;">
										<g>
											<g>
												<g>
													<path
														d="M14.554,0C6.561,0,0,6.562,0,14.552c0,7.996,6.561,14.555,14.554,14.555c7.996,0,14.553-6.559,14.553-14.555     C29.106,6.562,22.55,0,14.554,0z"
														fill="#88B44E" />
												</g>
											</g>
											<g>
											</g>
										</g>
									</svg>
									100% Organic
								</li>

							</ul>
							<a href="#" class="hb_btn wow fadeIn" data-wow-delay="1.5s"> Read More..</a>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
<div class="hb_testimonial_wrapper">
	<div class="hb_overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm1-12 col-xs-12">
				<div class=" hb_mainheading hb_bottompadder40 colorwhite">
					<h2>Testimonnial</h2>
					<h3>What Client Say</h3>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="hb_testimonial_slider">
					<div class="owl-carousel owl-theme">
						<div class="item wow fadeInUp">
							<div class="hb_tslider_inner">
								<div class="hb_tslider_data">
									<svg xmlns="http://www.w3.org/2000/svg" width="50px" height="50px"
										viewBox="0 0 95.333 95.332" style="enable-background:new 0 0 95.333 95.332;">
										<g>
											<g>
												<path
													d="M30.512,43.939c-2.348-0.676-4.696-1.019-6.98-1.019c-3.527,0-6.47,0.806-8.752,1.793    c2.2-8.054,7.485-21.951,18.013-23.516c0.975-0.145,1.774-0.85,2.04-1.799l2.301-8.23c0.194-0.696,0.079-1.441-0.318-2.045    s-1.035-1.007-1.75-1.105c-0.777-0.106-1.569-0.16-2.354-0.16c-12.637,0-25.152,13.19-30.433,32.076    c-3.1,11.08-4.009,27.738,3.627,38.223c4.273,5.867,10.507,9,18.529,9.313c0.033,0.001,0.065,0.002,0.098,0.002    c9.898,0,18.675-6.666,21.345-16.209c1.595-5.705,0.874-11.688-2.032-16.851C40.971,49.307,36.236,45.586,30.512,43.939z"
													fill="#777777" />
												<path
													d="M92.471,54.413c-2.875-5.106-7.61-8.827-13.334-10.474c-2.348-0.676-4.696-1.019-6.979-1.019    c-3.527,0-6.471,0.806-8.753,1.793c2.2-8.054,7.485-21.951,18.014-23.516c0.975-0.145,1.773-0.85,2.04-1.799l2.301-8.23    c0.194-0.696,0.079-1.441-0.318-2.045c-0.396-0.604-1.034-1.007-1.75-1.105c-0.776-0.106-1.568-0.16-2.354-0.16    c-12.637,0-25.152,13.19-30.434,32.076c-3.099,11.08-4.008,27.738,3.629,38.225c4.272,5.866,10.507,9,18.528,9.312    c0.033,0.001,0.065,0.002,0.099,0.002c9.897,0,18.675-6.666,21.345-16.209C96.098,65.559,95.376,59.575,92.471,54.413z"
													fill="#777777" />
											</g>
										</g>
									</svg>
									<p>"Lorem Ipsum is a simply dummy text of the printing and typesetting industry.
										Lorem a Ipsum has been all the industry's standard of at the dummy text ever the
										since the the printing and typesetting of industry."</p>

								</div>
								<div class="hb_tslider_img">
									<div class="left">
										<img src="{% static 'img/testimonial2.jpg' %}" class="img-responsive"
											alt="image">
									</div>
									<div class="right">
										<span>- John Doe</span>
										<p>General Manager</p>
									</div>

								</div>
							</div>
						</div>
						<div class="item wow fadeInUp">
							<div class="hb_tslider_inner">
								<div class="hb_tslider_data">
									<svg xmlns="http://www.w3.org/2000/svg" width="50px" height="50px"
										viewBox="0 0 95.333 95.332" style="enable-background:new 0 0 95.333 95.332;">
										<g>
											<g>
												<path
													d="M30.512,43.939c-2.348-0.676-4.696-1.019-6.98-1.019c-3.527,0-6.47,0.806-8.752,1.793    c2.2-8.054,7.485-21.951,18.013-23.516c0.975-0.145,1.774-0.85,2.04-1.799l2.301-8.23c0.194-0.696,0.079-1.441-0.318-2.045    s-1.035-1.007-1.75-1.105c-0.777-0.106-1.569-0.16-2.354-0.16c-12.637,0-25.152,13.19-30.433,32.076    c-3.1,11.08-4.009,27.738,3.627,38.223c4.273,5.867,10.507,9,18.529,9.313c0.033,0.001,0.065,0.002,0.098,0.002    c9.898,0,18.675-6.666,21.345-16.209c1.595-5.705,0.874-11.688-2.032-16.851C40.971,49.307,36.236,45.586,30.512,43.939z"
													fill="#777777" />
												<path
													d="M92.471,54.413c-2.875-5.106-7.61-8.827-13.334-10.474c-2.348-0.676-4.696-1.019-6.979-1.019    c-3.527,0-6.471,0.806-8.753,1.793c2.2-8.054,7.485-21.951,18.014-23.516c0.975-0.145,1.773-0.85,2.04-1.799l2.301-8.23    c0.194-0.696,0.079-1.441-0.318-2.045c-0.396-0.604-1.034-1.007-1.75-1.105c-0.776-0.106-1.568-0.16-2.354-0.16    c-12.637,0-25.152,13.19-30.434,32.076c-3.099,11.08-4.008,27.738,3.629,38.225c4.272,5.866,10.507,9,18.528,9.312    c0.033,0.001,0.065,0.002,0.099,0.002c9.897,0,18.675-6.666,21.345-16.209C96.098,65.559,95.376,59.575,92.471,54.413z"
													fill="#777777" />
											</g>
										</g>
									</svg>
									<p>"Lorem Ipsum is a simply dummy text of the printing and typesetting industry.
										Lorem a Ipsum has been all the industry's standard of at the dummy text ever the
										since the the printing and typesetting of industry."</p>

								</div>
								<div class="hb_tslider_img">
									<div class="left">
										<img src="{% static 'img/testimonial1.jpg' %}" class="img-responsive"
											alt="image">
									</div>
									<div class="right">
										<span>- John Doe</span>
										<p>General Manager</p>
									</div>

								</div>
							</div>
						</div>
						<div class="item wow fadeInUp">
							<div class="hb_tslider_inner">
								<div class="hb_tslider_data">
									<svg xmlns="http://www.w3.org/2000/svg" width="50px" height="50px"
										viewBox="0 0 95.333 95.332" style="enable-background:new 0 0 95.333 95.332;">
										<g>
											<g>
												<path
													d="M30.512,43.939c-2.348-0.676-4.696-1.019-6.98-1.019c-3.527,0-6.47,0.806-8.752,1.793    c2.2-8.054,7.485-21.951,18.013-23.516c0.975-0.145,1.774-0.85,2.04-1.799l2.301-8.23c0.194-0.696,0.079-1.441-0.318-2.045    s-1.035-1.007-1.75-1.105c-0.777-0.106-1.569-0.16-2.354-0.16c-12.637,0-25.152,13.19-30.433,32.076    c-3.1,11.08-4.009,27.738,3.627,38.223c4.273,5.867,10.507,9,18.529,9.313c0.033,0.001,0.065,0.002,0.098,0.002    c9.898,0,18.675-6.666,21.345-16.209c1.595-5.705,0.874-11.688-2.032-16.851C40.971,49.307,36.236,45.586,30.512,43.939z"
													fill="#777777" />
												<path
													d="M92.471,54.413c-2.875-5.106-7.61-8.827-13.334-10.474c-2.348-0.676-4.696-1.019-6.979-1.019    c-3.527,0-6.471,0.806-8.753,1.793c2.2-8.054,7.485-21.951,18.014-23.516c0.975-0.145,1.773-0.85,2.04-1.799l2.301-8.23    c0.194-0.696,0.079-1.441-0.318-2.045c-0.396-0.604-1.034-1.007-1.75-1.105c-0.776-0.106-1.568-0.16-2.354-0.16    c-12.637,0-25.152,13.19-30.434,32.076c-3.099,11.08-4.008,27.738,3.629,38.225c4.272,5.866,10.507,9,18.528,9.312    c0.033,0.001,0.065,0.002,0.099,0.002c9.897,0,18.675-6.666,21.345-16.209C96.098,65.559,95.376,59.575,92.471,54.413z"
													fill="#777777" />
											</g>
										</g>
									</svg>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc condimentum neque
										vel velit finibus, placerat accumsan ex mollis. Aenean sagittis justo quis orci
										blandit.</p>

								</div>
								<div class="hb_tslider_img">
									<div class="left">
										<img src="{% static 'img/testimonial3.jpg' %}" class="img-responsive"
											alt="image">
									</div>
									<div class="right">
										<span>- John Doe</span>
										<p>General Manager</p>
									</div>

								</div>
							</div>
						</div>
						<div class="item wow fadeInUp">
							<div class="hb_tslider_inner">
								<div class="hb_tslider_data">
									<svg xmlns="http://www.w3.org/2000/svg" width="50px" height="50px"
										viewBox="0 0 95.333 95.332" style="enable-background:new 0 0 95.333 95.332;">
										<g>
											<g>
												<path
													d="M30.512,43.939c-2.348-0.676-4.696-1.019-6.98-1.019c-3.527,0-6.47,0.806-8.752,1.793    c2.2-8.054,7.485-21.951,18.013-23.516c0.975-0.145,1.774-0.85,2.04-1.799l2.301-8.23c0.194-0.696,0.079-1.441-0.318-2.045    s-1.035-1.007-1.75-1.105c-0.777-0.106-1.569-0.16-2.354-0.16c-12.637,0-25.152,13.19-30.433,32.076    c-3.1,11.08-4.009,27.738,3.627,38.223c4.273,5.867,10.507,9,18.529,9.313c0.033,0.001,0.065,0.002,0.098,0.002    c9.898,0,18.675-6.666,21.345-16.209c1.595-5.705,0.874-11.688-2.032-16.851C40.971,49.307,36.236,45.586,30.512,43.939z"
													fill="#777777" />
												<path
													d="M92.471,54.413c-2.875-5.106-7.61-8.827-13.334-10.474c-2.348-0.676-4.696-1.019-6.979-1.019    c-3.527,0-6.471,0.806-8.753,1.793c2.2-8.054,7.485-21.951,18.014-23.516c0.975-0.145,1.773-0.85,2.04-1.799l2.301-8.23    c0.194-0.696,0.079-1.441-0.318-2.045c-0.396-0.604-1.034-1.007-1.75-1.105c-0.776-0.106-1.568-0.16-2.354-0.16    c-12.637,0-25.152,13.19-30.434,32.076c-3.099,11.08-4.008,27.738,3.629,38.225c4.272,5.866,10.507,9,18.528,9.312    c0.033,0.001,0.065,0.002,0.099,0.002c9.897,0,18.675-6.666,21.345-16.209C96.098,65.559,95.376,59.575,92.471,54.413z"
													fill="#777777" />
											</g>
										</g>
									</svg>
									<p>"Lorem Ipsum is a simply dummy text of the printing and typesetting industry.
										Lorem a Ipsum has been all the industry's standard of at the dummy text ever the
										since the the printing and typesetting of industry."</p>

								</div>
								<div class="hb_tslider_img">
									<div class="left">
										<img src="{% static 'img/testimonial2.jpg' %}" class="img-responsive"
											alt="image">
									</div>
									<div class="right">
										<span>- John Doe</span>
										<p>General Manager</p>
									</div>

								</div>
							</div>
						</div>
						<div class="item wow fadeInUp">
							<div class="hb_tslider_inner">
								<div class="hb_tslider_data">
									<svg xmlns="http://www.w3.org/2000/svg" width="50px" height="50px"
										viewBox="0 0 95.333 95.332" style="enable-background:new 0 0 95.333 95.332;">
										<g>
											<g>
												<path
													d="M30.512,43.939c-2.348-0.676-4.696-1.019-6.98-1.019c-3.527,0-6.47,0.806-8.752,1.793    c2.2-8.054,7.485-21.951,18.013-23.516c0.975-0.145,1.774-0.85,2.04-1.799l2.301-8.23c0.194-0.696,0.079-1.441-0.318-2.045    s-1.035-1.007-1.75-1.105c-0.777-0.106-1.569-0.16-2.354-0.16c-12.637,0-25.152,13.19-30.433,32.076    c-3.1,11.08-4.009,27.738,3.627,38.223c4.273,5.867,10.507,9,18.529,9.313c0.033,0.001,0.065,0.002,0.098,0.002    c9.898,0,18.675-6.666,21.345-16.209c1.595-5.705,0.874-11.688-2.032-16.851C40.971,49.307,36.236,45.586,30.512,43.939z"
													fill="#777777" />
												<path
													d="M92.471,54.413c-2.875-5.106-7.61-8.827-13.334-10.474c-2.348-0.676-4.696-1.019-6.979-1.019    c-3.527,0-6.471,0.806-8.753,1.793c2.2-8.054,7.485-21.951,18.014-23.516c0.975-0.145,1.773-0.85,2.04-1.799l2.301-8.23    c0.194-0.696,0.079-1.441-0.318-2.045c-0.396-0.604-1.034-1.007-1.75-1.105c-0.776-0.106-1.568-0.16-2.354-0.16    c-12.637,0-25.152,13.19-30.434,32.076c-3.099,11.08-4.008,27.738,3.629,38.225c4.272,5.866,10.507,9,18.528,9.312    c0.033,0.001,0.065,0.002,0.099,0.002c9.897,0,18.675-6.666,21.345-16.209C96.098,65.559,95.376,59.575,92.471,54.413z"
													fill="#777777" />
											</g>
										</g>
									</svg>
									<p>"Lorem Ipsum is a simply dummy text of the printing and typesetting industry.
										Lorem a Ipsum has been all the industry's standard of at the dummy text ever the
										since the the printing and typesetting of industry."</p>

								</div>
								<div class="hb_tslider_img">
									<div class="left">
										<img src="{% static 'img/testimonial1.jpg' %}" class="img-responsive"
											alt="image">
									</div>
									<div class="right">
										<span>- John Doe</span>
										<p>General Manager</p>
									</div>

								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="hb_white_wrapper features hb_toppadder75">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm1-12 col-xs-12">
				<div class=" hb_mainheading hb_bottompadder40">
					<h2>Features</h2>
					<h3>Why Bizppressions</h3>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 wow zoomIn">
				<div class="hb_feature_image">
					<div class="hb_left_top_border"></div>
					<div class="hb_right_bottom_border"></div>
					<img src="{% static 'img/feature_img.jpg' %}" class="img-responsive" alt="image">
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 hb_toppadder70 wow zoomIn">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<div class="hb_feature_data">
							<div class="hb_feature_icon">
								<i class="flaticon-herbal-spa-treatment-leaves"></i>
							</div>
							<div class="hb_feature_content">
								<h4>100 % organic</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<div class="hb_feature_data">
							<div class="hb_feature_icon">
								<i class="flaticon-favorite-heart-button"></i>
							</div>
							<div class="hb_feature_content">
								<h4>peoples choice</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<div class="hb_feature_data">
							<div class="hb_feature_icon">
								<i class="flaticon-quality"></i>
							</div>
							<div class="hb_feature_content">
								<h4>best quality</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<div class="hb_feature_data">
							<div class="hb_feature_icon">
								<i class="flaticon-women"></i>
							</div>
							<div class="hb_feature_content">
								<h4>free accessories</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}