{% extends 'base.html' %}

{% block content %}
{% load static %}
<div class="hd_container">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="hb_slider_wrapper">
                    <div class="col-lg-6 col-md-10">
                        <div class="hb_banner_content effect01">
                            <h2>Herbal Pure <span>100% Organic</span></h2>
                            <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of
                                letters, as opposed to using 'Content here making it look like readable.</p>
                            <a href="#" class="hb_btn">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="hb_slider_wrapper02">
                    <div class="col-lg-6 col-md-10">
                        <div class="hb_banner_content effect01">
                            <h2>Time To Balance <span>Your Life</span></h2>
                            <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of
                                letters, as opposed to using 'Content here making it look like readable.</p>
                            <a href="#" class="hb_btn">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Add Arrows -->
        <div class="swiper-button-next swiper-button-white"></div>
        <div class="swiper-button-prev swiper-button-white"></div>
    </div>
</div>
<!-- Swiper -->

<div class="hb_white_wrapper Categories hb_toppadder75 hb_bottompadder40">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm1-12 col-xs-12">
                <div class=" hb_mainheading hb_bottompadder40">
                    <h2>Categories</h2>
                    <h3>herbs that heal</h3>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="hb_herbs_heal wow fadeInUp" data-wow-delay="0.5s">
                    <img src="{% static 'img/herbal_heal1.jpg' %}" class="img-responsive" alt="herbal-pure-tea">
                    <h4><a href="#">Herbal tea</a></h4>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="hb_herbs_heal wow fadeInUp" data-wow-delay="0.7s">
                    <img src="{% static 'img/herbal_heal2.jpg' %}" class="img-responsive" alt="herbal-pure-oil">
                    <h4><a href="#">Herbal oil</a></h4>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="hb_herbs_heal wow fadeInUp" data-wow-delay="0.8s">
                    <img src="{% static 'img/herbal_heal3.jpg' %}" class="img-responsive" alt="herbal-pure-medicine">
                    <h4><a href="#">Herbal medicine</a></h4>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="hb_add_banner_wrapper">
    <div class="hb_overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3 class="wow fadeIn" data-wow-delay="0.5s">“Let food be thy medicine and medicine be thy food”</h3>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when
                    looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                    distribution of letters, as opposed to using 'Content here, content here', making it look like
                    readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their
                    default model text, and a search for 'lorem ipsum' will uncover many web sites still in their
                    infancy.</p>
                <a href="#" class="hb_btn wow fadeIn" data-wow-delay="0.5s"> Read More</a>
            </div>
        </div>
    </div>
</div>
<div class="hb_white_wrapper features hb_toppadder75">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm1-12 col-xs-12">
                <div class=" hb_mainheading hb_bottompadder40">
                    <h2>Features</h2>
                    <h3>Why Herbal Pure</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="hb_feature_image ">
                    <div class="hb_left_top_border"></div>
                    <div class="hb_right_bottom_border"></div>
                    <img src="images/feature_img.jpg" class="img-responsive" alt="herbal-pure-feature_img">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 hb_toppadder70">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="hb_feature_data  wow fadeIn" data-wow-delay="0.5s">
                            <div class="hb_feature_icon">
                                <i class="flaticon-herbal-spa-treatment-leaves"></i>
                            </div>
                            <div class="hb_feature_content">
                                <h4>100 % organic</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="hb_feature_data wow fadeIn" data-wow-delay="0.8s">
                            <div class="hb_feature_icon">
                                <i class="flaticon-favorite-heart-button"></i>
                            </div>
                            <div class="hb_feature_content">
                                <h4>peoples choice</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="hb_feature_data wow fadeIn" data-wow-delay="1s">
                            <div class="hb_feature_icon">
                                <i class="flaticon-quality"></i>
                            </div>
                            <div class="hb_feature_content">
                                <h4>best quality</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="hb_feature_data wow fadeIn" data-wow-delay="1.2s">
                            <div class="hb_feature_icon">
                                <i class="flaticon-women"></i>
                            </div>
                            <div class="hb_feature_content">
                                <h4>free accessories</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="hb_testimonial_wrapper">
    <div class="hb_overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm1-12 col-xs-12">
                <div class=" hb_mainheading hb_bottompadder40 colorwhite">
                    <h2>Testimonnial</h2>
                    <h3>What Client Say</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="hb_testimonial_slider">
                    <div class="owl-carousel owl-theme">
                        <div class="item wow fadeInUp" data-wow-delay="0.5s">
                            <div class="hb_tslider_inner">
                                <div class="hb_tslider_data">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="50px" height="50px"
                                        viewBox="0 0 95.333 95.332" style="enable-background:new 0 0 95.333 95.332;">
                                        <g>
                                            <g>
                                                <path
                                                    d="M30.512,43.939c-2.348-0.676-4.696-1.019-6.98-1.019c-3.527,0-6.47,0.806-8.752,1.793    c2.2-8.054,7.485-21.951,18.013-23.516c0.975-0.145,1.774-0.85,2.04-1.799l2.301-8.23c0.194-0.696,0.079-1.441-0.318-2.045    s-1.035-1.007-1.75-1.105c-0.777-0.106-1.569-0.16-2.354-0.16c-12.637,0-25.152,13.19-30.433,32.076    c-3.1,11.08-4.009,27.738,3.627,38.223c4.273,5.867,10.507,9,18.529,9.313c0.033,0.001,0.065,0.002,0.098,0.002    c9.898,0,18.675-6.666,21.345-16.209c1.595-5.705,0.874-11.688-2.032-16.851C40.971,49.307,36.236,45.586,30.512,43.939z"
                                                    fill="#777777" />
                                                <path
                                                    d="M92.471,54.413c-2.875-5.106-7.61-8.827-13.334-10.474c-2.348-0.676-4.696-1.019-6.979-1.019    c-3.527,0-6.471,0.806-8.753,1.793c2.2-8.054,7.485-21.951,18.014-23.516c0.975-0.145,1.773-0.85,2.04-1.799l2.301-8.23    c0.194-0.696,0.079-1.441-0.318-2.045c-0.396-0.604-1.034-1.007-1.75-1.105c-0.776-0.106-1.568-0.16-2.354-0.16    c-12.637,0-25.152,13.19-30.434,32.076c-3.099,11.08-4.008,27.738,3.629,38.225c4.272,5.866,10.507,9,18.528,9.312    c0.033,0.001,0.065,0.002,0.099,0.002c9.897,0,18.675-6.666,21.345-16.209C96.098,65.559,95.376,59.575,92.471,54.413z"
                                                    fill="#777777" />
                                            </g>
                                        </g>
                                    </svg>
                                    <p>"Lorem Ipsum is a simply dummy text of the printing and typesetting industry.
                                        Lorem a Ipsum has been all the industry's standard of at the dummy text ever the
                                        since the the printing and typesetting of industry."</p>

                                </div>
                                <div class="hb_tslider_img">
                                    <div class="left">
                                        <img src="images/testimonial2.jpg" class="img-responsive"
                                            alt="herbal-pure-testimonial-1">
                                    </div>
                                    <div class="right">
                                        <span>- John Doe</span>
                                        <p>General Manager</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="item wow fadeInUp" data-wow-delay="0.5s">
                            <div class="hb_tslider_inner">
                                <div class="hb_tslider_data">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="50px" height="50px"
                                        viewBox="0 0 95.333 95.332" style="enable-background:new 0 0 95.333 95.332;">
                                        <g>
                                            <g>
                                                <path
                                                    d="M30.512,43.939c-2.348-0.676-4.696-1.019-6.98-1.019c-3.527,0-6.47,0.806-8.752,1.793    c2.2-8.054,7.485-21.951,18.013-23.516c0.975-0.145,1.774-0.85,2.04-1.799l2.301-8.23c0.194-0.696,0.079-1.441-0.318-2.045    s-1.035-1.007-1.75-1.105c-0.777-0.106-1.569-0.16-2.354-0.16c-12.637,0-25.152,13.19-30.433,32.076    c-3.1,11.08-4.009,27.738,3.627,38.223c4.273,5.867,10.507,9,18.529,9.313c0.033,0.001,0.065,0.002,0.098,0.002    c9.898,0,18.675-6.666,21.345-16.209c1.595-5.705,0.874-11.688-2.032-16.851C40.971,49.307,36.236,45.586,30.512,43.939z"
                                                    fill="#777777" />
                                                <path
                                                    d="M92.471,54.413c-2.875-5.106-7.61-8.827-13.334-10.474c-2.348-0.676-4.696-1.019-6.979-1.019    c-3.527,0-6.471,0.806-8.753,1.793c2.2-8.054,7.485-21.951,18.014-23.516c0.975-0.145,1.773-0.85,2.04-1.799l2.301-8.23    c0.194-0.696,0.079-1.441-0.318-2.045c-0.396-0.604-1.034-1.007-1.75-1.105c-0.776-0.106-1.568-0.16-2.354-0.16    c-12.637,0-25.152,13.19-30.434,32.076c-3.099,11.08-4.008,27.738,3.629,38.225c4.272,5.866,10.507,9,18.528,9.312    c0.033,0.001,0.065,0.002,0.099,0.002c9.897,0,18.675-6.666,21.345-16.209C96.098,65.559,95.376,59.575,92.471,54.413z"
                                                    fill="#777777" />
                                            </g>
                                        </g>
                                    </svg>
                                    <p>"Lorem Ipsum is a simply dummy text of the printing and typesetting industry.
                                        Lorem a Ipsum has been all the industry's standard of at the dummy text ever the
                                        since the the printing and typesetting of industry."</p>

                                </div>
                                <div class="hb_tslider_img">
                                    <div class="left">
                                        <img src="images/testimonial1.jpg" class="img-responsive"
                                            alt="herbal-pure-testimonial-2">
                                    </div>
                                    <div class="right">
                                        <span>- John Doe</span>
                                        <p>General Manager</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="item wow fadeInUp" data-wow-delay="0.5s">
                            <div class="hb_tslider_inner">
                                <div class="hb_tslider_data">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="50px" height="50px"
                                        viewBox="0 0 95.333 95.332" style="enable-background:new 0 0 95.333 95.332;">
                                        <g>
                                            <g>
                                                <path
                                                    d="M30.512,43.939c-2.348-0.676-4.696-1.019-6.98-1.019c-3.527,0-6.47,0.806-8.752,1.793    c2.2-8.054,7.485-21.951,18.013-23.516c0.975-0.145,1.774-0.85,2.04-1.799l2.301-8.23c0.194-0.696,0.079-1.441-0.318-2.045    s-1.035-1.007-1.75-1.105c-0.777-0.106-1.569-0.16-2.354-0.16c-12.637,0-25.152,13.19-30.433,32.076    c-3.1,11.08-4.009,27.738,3.627,38.223c4.273,5.867,10.507,9,18.529,9.313c0.033,0.001,0.065,0.002,0.098,0.002    c9.898,0,18.675-6.666,21.345-16.209c1.595-5.705,0.874-11.688-2.032-16.851C40.971,49.307,36.236,45.586,30.512,43.939z"
                                                    fill="#777777" />
                                                <path
                                                    d="M92.471,54.413c-2.875-5.106-7.61-8.827-13.334-10.474c-2.348-0.676-4.696-1.019-6.979-1.019    c-3.527,0-6.471,0.806-8.753,1.793c2.2-8.054,7.485-21.951,18.014-23.516c0.975-0.145,1.773-0.85,2.04-1.799l2.301-8.23    c0.194-0.696,0.079-1.441-0.318-2.045c-0.396-0.604-1.034-1.007-1.75-1.105c-0.776-0.106-1.568-0.16-2.354-0.16    c-12.637,0-25.152,13.19-30.434,32.076c-3.099,11.08-4.008,27.738,3.629,38.225c4.272,5.866,10.507,9,18.528,9.312    c0.033,0.001,0.065,0.002,0.099,0.002c9.897,0,18.675-6.666,21.345-16.209C96.098,65.559,95.376,59.575,92.471,54.413z"
                                                    fill="#777777" />
                                            </g>
                                        </g>
                                    </svg>
                                    <p>"Lorem Ipsum is a simply dummy text of the printing and typesetting industry.
                                        Lorem a Ipsum has been all the industry's standard of at the dummy text ever the
                                        since the the printing and typesetting of industry."</p>

                                </div>
                                <div class="hb_tslider_img">
                                    <div class="left">
                                        <img src="images/testimonial3.jpg" class="img-responsive"
                                            alt="herbal-pure-testimonial-3">
                                    </div>
                                    <div class="right">
                                        <span>- John Doe</span>
                                        <p>General Manager</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="item wow fadeInUp" data-wow-delay="0.5s">
                            <div class="hb_tslider_inner">
                                <div class="hb_tslider_data">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="50px" height="50px"
                                        viewBox="0 0 95.333 95.332" style="enable-background:new 0 0 95.333 95.332;">
                                        <g>
                                            <g>
                                                <path
                                                    d="M30.512,43.939c-2.348-0.676-4.696-1.019-6.98-1.019c-3.527,0-6.47,0.806-8.752,1.793    c2.2-8.054,7.485-21.951,18.013-23.516c0.975-0.145,1.774-0.85,2.04-1.799l2.301-8.23c0.194-0.696,0.079-1.441-0.318-2.045    s-1.035-1.007-1.75-1.105c-0.777-0.106-1.569-0.16-2.354-0.16c-12.637,0-25.152,13.19-30.433,32.076    c-3.1,11.08-4.009,27.738,3.627,38.223c4.273,5.867,10.507,9,18.529,9.313c0.033,0.001,0.065,0.002,0.098,0.002    c9.898,0,18.675-6.666,21.345-16.209c1.595-5.705,0.874-11.688-2.032-16.851C40.971,49.307,36.236,45.586,30.512,43.939z"
                                                    fill="#777777" />
                                                <path
                                                    d="M92.471,54.413c-2.875-5.106-7.61-8.827-13.334-10.474c-2.348-0.676-4.696-1.019-6.979-1.019    c-3.527,0-6.471,0.806-8.753,1.793c2.2-8.054,7.485-21.951,18.014-23.516c0.975-0.145,1.773-0.85,2.04-1.799l2.301-8.23    c0.194-0.696,0.079-1.441-0.318-2.045c-0.396-0.604-1.034-1.007-1.75-1.105c-0.776-0.106-1.568-0.16-2.354-0.16    c-12.637,0-25.152,13.19-30.434,32.076c-3.099,11.08-4.008,27.738,3.629,38.225c4.272,5.866,10.507,9,18.528,9.312    c0.033,0.001,0.065,0.002,0.099,0.002c9.897,0,18.675-6.666,21.345-16.209C96.098,65.559,95.376,59.575,92.471,54.413z"
                                                    fill="#777777" />
                                            </g>
                                        </g>
                                    </svg>
                                    <p>"Lorem Ipsum is a simply dummy text of the printing and typesetting industry.
                                        Lorem a Ipsum has been all the industry's standard of at the dummy text ever the
                                        since the the printing and typesetting of industry."</p>

                                </div>
                                <div class="hb_tslider_img">
                                    <div class="left">
                                        <img src="images/testimonial2.jpg" class="img-responsive"
                                            alt="herbal-pure-testimonial-4">
                                    </div>
                                    <div class="right">
                                        <span>- John Doe</span>
                                        <p>General Manager</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="item wow fadeInUp" data-wow-delay="0.5s">
                            <div class="hb_tslider_inner">
                                <div class="hb_tslider_data">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="50px" height="50px"
                                        viewBox="0 0 95.333 95.332" style="enable-background:new 0 0 95.333 95.332;">
                                        <g>
                                            <g>
                                                <path
                                                    d="M30.512,43.939c-2.348-0.676-4.696-1.019-6.98-1.019c-3.527,0-6.47,0.806-8.752,1.793    c2.2-8.054,7.485-21.951,18.013-23.516c0.975-0.145,1.774-0.85,2.04-1.799l2.301-8.23c0.194-0.696,0.079-1.441-0.318-2.045    s-1.035-1.007-1.75-1.105c-0.777-0.106-1.569-0.16-2.354-0.16c-12.637,0-25.152,13.19-30.433,32.076    c-3.1,11.08-4.009,27.738,3.627,38.223c4.273,5.867,10.507,9,18.529,9.313c0.033,0.001,0.065,0.002,0.098,0.002    c9.898,0,18.675-6.666,21.345-16.209c1.595-5.705,0.874-11.688-2.032-16.851C40.971,49.307,36.236,45.586,30.512,43.939z"
                                                    fill="#777777" />
                                                <path
                                                    d="M92.471,54.413c-2.875-5.106-7.61-8.827-13.334-10.474c-2.348-0.676-4.696-1.019-6.979-1.019    c-3.527,0-6.471,0.806-8.753,1.793c2.2-8.054,7.485-21.951,18.014-23.516c0.975-0.145,1.773-0.85,2.04-1.799l2.301-8.23    c0.194-0.696,0.079-1.441-0.318-2.045c-0.396-0.604-1.034-1.007-1.75-1.105c-0.776-0.106-1.568-0.16-2.354-0.16    c-12.637,0-25.152,13.19-30.434,32.076c-3.099,11.08-4.008,27.738,3.629,38.225c4.272,5.866,10.507,9,18.528,9.312    c0.033,0.001,0.065,0.002,0.099,0.002c9.897,0,18.675-6.666,21.345-16.209C96.098,65.559,95.376,59.575,92.471,54.413z"
                                                    fill="#777777" />
                                            </g>
                                        </g>
                                    </svg>
                                    <p>"Lorem Ipsum is a simply dummy text of the printing and typesetting industry.
                                        Lorem a Ipsum has been all the industry's standard of at the dummy text ever the
                                        since the the printing and typesetting of industry."</p>

                                </div>
                                <div class="hb_tslider_img">
                                    <div class="left">
                                        <img src="images/testimonial1.jpg" class="img-responsive"
                                            alt="herbal-pure-testimonial-5">
                                    </div>
                                    <div class="right">
                                        <span>- John Doe</span>
                                        <p>General Manager</p>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="hb_white_wrapper our_store hb_toppadder75 hb_bottompadder42">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm1-12 col-xs-12">
                <div class=" hb_mainheading hb_bottompadder40">
                    <h2>shop</h2>
                    <h3>to our store</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 wow zoomIn" data-wow-delay="0.5s">
                <div class="hb_product_div">
                    <div class="hb_product_img">
                        <img src="images/product1.jpg" class="img-responsive" alt="herbal-pure-product-1">
                        <div class="product-image-overlay">
                            <ul class="cart_icons">
                                <li>
                                    <a href="cart.html"><span><i class="flaticon-empty-shopping-cart"></i></span>Add to
                                        cart</a>
                                </li>
                                <li>
                                    <a href="#"><span><i class="flaticon-favorite-heart-button"></i> </span> Add to
                                        Wishlist </a>
                                </li>
                                <li>
                                    <a href="images/product_big1.jpg" class="zoom_icon"><span><i
                                                class="flaticon-search"></i> </span> Quick View </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="hb_product_data">
                        <h5><a href="shop_single.html">Black Organic Tea</a></h5>
                        <p><del>$15</del> $12</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 wow zoomIn" data-wow-delay="0.5s">
                <div class="hb_product_div">
                    <div class="hb_product_img">
                        <img src="images/product2.jpg" class="img-responsive" alt="herbal-pure-product-2">
                        <div class="product-image-overlay">
                            <ul class="cart_icons">
                                <li>
                                    <a href="cart.html"><span><i class="flaticon-empty-shopping-cart"></i></span>Add to
                                        cart</a>
                                </li>
                                <li>
                                    <a href="#"><span><i class="flaticon-favorite-heart-button"></i> </span> Add to
                                        Wishlist </a>
                                </li>
                                <li>
                                    <a href="images/product_big2.jpg" class="zoom_icon"><span><i
                                                class="flaticon-search"></i> </span> Quick View </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="hb_product_data">
                        <h5><a href="shop_single.html">Loose Leaf Tea</a></h5>
                        <p><del>$15</del> $12</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 wow zoomIn" data-wow-delay="0.5s">
                <div class="hb_product_div">
                    <div class="hb_product_img">
                        <img src="images/product3.jpg" class="img-responsive" alt="herbal-pure-product-3">
                        <div class="product-image-overlay">
                            <ul class="cart_icons">
                                <li>
                                    <a href="cart.html"><span><i class="flaticon-empty-shopping-cart"></i></span>Add to
                                        cart</a>
                                </li>
                                <li>
                                    <a href="#"><span><i class="flaticon-favorite-heart-button"></i> </span> Add to
                                        Wishlist </a>
                                </li>
                                <li>
                                    <a href="images/product_big3.jpg" class="zoom_icon"><span><i
                                                class="flaticon-search"></i> </span> Quick View </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="hb_product_data">
                        <h5><a href="shop_single.html">Oolong tea</a></h5>
                        <p><del>$15</del> $12</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 wow zoomIn" data-wow-delay="0.5s">
                <div class="hb_product_div">
                    <div class="hb_product_img">
                        <img src="images/product4.jpg" class="img-responsive" alt="herbal-pure-product-4">
                        <div class="product-image-overlay">
                            <ul class="cart_icons">
                                <li>
                                    <a href="cart.html"><span><i class="flaticon-empty-shopping-cart"></i></span>Add to
                                        cart</a>
                                </li>
                                <li>
                                    <a href="#"><span><i class="flaticon-favorite-heart-button"></i> </span> Add to
                                        Wishlist </a>
                                </li>
                                <li>
                                    <a href="images/product_big4.jpg" class="zoom_icon"><span><i
                                                class="flaticon-search"></i> </span> Quick View </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="hb_product_data">
                        <h5><a href="shop_single.html">Black Organic Tea</a></h5>
                        <p><del>$15</del> $12</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 wow zoomIn" data-wow-delay="0.5s">
                <div class="hb_product_div">
                    <div class="hb_product_img">
                        <img src="images/product5.jpg" class="img-responsive" alt="herbal-pure-product-5">
                        <div class="product-image-overlay">
                            <ul class="cart_icons">
                                <li>
                                    <a href="cart.html"><span><i class="flaticon-empty-shopping-cart"></i></span>Add to
                                        cart</a>
                                </li>
                                <li>
                                    <a href="#"><span><i class="flaticon-favorite-heart-button"></i> </span> Add to
                                        Wishlist </a>
                                </li>
                                <li>
                                    <a href="images/product_big5.jpg" class="zoom_icon"><span><i
                                                class="flaticon-search"></i> </span> Quick View </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="hb_product_data">
                        <h5><a href="shop_single.html">Green Tea</a></h5>
                        <p><del>$15</del> $12</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 wow zoomIn" data-wow-delay="0.5s">
                <div class="hb_product_div">
                    <div class="hb_product_img">
                        <img src="images/product6.jpg" class="img-responsive" alt="herbal-pure-product-6">
                        <div class="product-image-overlay">
                            <ul class="cart_icons">
                                <li>
                                    <a href="cart.html"><span><i class="flaticon-empty-shopping-cart"></i></span>Add to
                                        cart</a>
                                </li>
                                <li>
                                    <a href="#"><span><i class="flaticon-favorite-heart-button"></i> </span> Add to
                                        Wishlist </a>
                                </li>
                                <li>
                                    <a href="images/product_big6.jpg" class="zoom_icon"><span><i
                                                class="flaticon-search"></i> </span> Quick View </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="hb_product_data">
                        <h5><a href="shop_single.html">Sencha Tea</a></h5>
                        <p><del>$15</del> $12</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 wow zoomIn" data-wow-delay="0.5s">
                <div class="hb_product_div">
                    <div class="hb_product_img">
                        <img src="images/product7.jpg" class="img-responsive" alt="herbal-pure-product-7">
                        <div class="product-image-overlay">
                            <ul class="cart_icons">
                                <li>
                                    <a href="cart.html"><span><i class="flaticon-empty-shopping-cart"></i></span>Add to
                                        cart</a>
                                </li>
                                <li>
                                    <a href="#"><span><i class="flaticon-favorite-heart-button"></i> </span> Add to
                                        Wishlist </a>
                                </li>
                                <li>
                                    <a href="images/product_big4.jpg" class="zoom_icon"><span><i
                                                class="flaticon-search"></i> </span> Quick View </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="hb_product_data">
                        <h5><a href="shop_single.html">Keemun Tea</a></h5>
                        <p><del>$15</del> $12</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 wow zoomIn" data-wow-delay="0.5s">
                <div class="hb_product_div">
                    <div class="hb_product_img">
                        <img src="images/product2.jpg" class="img-responsive" alt="herbal-pure-product-8">
                        <div class="product-image-overlay">
                            <ul class="cart_icons">
                                <li>
                                    <a href="cart.html"><span><i class="flaticon-empty-shopping-cart"></i></span>Add to
                                        cart</a>
                                </li>
                                <li>
                                    <a href="#"><span><i class="flaticon-favorite-heart-button"></i> </span> Add to
                                        Wishlist </a>
                                </li>
                                <li>
                                    <a href="images/product_big2.jpg" class="zoom_icon"><span><i
                                                class="flaticon-search"></i> </span> Quick View </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="hb_product_data">
                        <h5><a href="shop_single.html">Loose Leaf Tea</a></h5>
                        <p><del>$15</del> $12</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<div class="hb_gray_wrapper lnews_tips hb_toppadder75 hb_bottompadder42">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 col-md-12 col-sm1-12 col-xs-12">
              <div class=" hb_mainheading hb_bottompadder40">
                  <h2>Blogs</h2>
                  <h3>latest news & tips</h3>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <div class="hb_blog_div wow fadeIn" data-wow-delay="0.6s">
                  <div class="hb_blog_img">
                      <img src="images/blog_small1.jpg" class="img-responsive" alt="herbal-pure-product-9">
                      <div class="hb_img_overlay"></div>
                      <div class="hb_overlay_icon">
                          <a href="images/blog_big1.jpg" class="zoom_icon"><i class="flaticon-search-2"></i></a>
                      </div>
                  </div>
                  <div class="hb_blog_content">
                      <span class="post-author">
                          <a href="blog_single.html"><img src="images/testimonial2.jpg" alt="herbal-pure-product-10"></a>
                      </span>
                      <ul class="hb_categories">
                          <li><a href="#">June 12, 2019</a></li>
                      </ul>
                      
                      <div class="clearfix"></div>
                      <h3><a href="blog_single.html">At vero eos et accusamus et</a></h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec scelerisque diam finibus augue pretium, ut finibus est tincidunt. Nulla nec ullamcorper odio.</p>
                      <div class="hb_authorname">
                          <span class="hb_date">
                              <i class="flaticon-counterclockwise"></i>8 Hours Ago
                          </span>
                      </div>
                      <div class="hb_custom_links">
                          <ul>
                              <li><a href="#"><i class="flaticon-favorite-heart-button"></i>24</a></li>
                              <li><a href="#"><i class="flaticon-eye"></i>51</a></li>
                              <li><a href="#"><i class="flaticon-speech-bubbles-comment-option"></i>04</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <div class="hb_blog_div wow fadeIn" data-wow-delay="0.8s">
                  <div class="hb_blog_img">
                      <img src="images/blog_small2.jpg" class="img-responsive" alt="herbal-pure-product-11">
                      <div class="hb_img_overlay"></div>
                      <div class="hb_overlay_icon">
                          <a href="images/blog_big2.jpg" class="zoom_icon"><i class="flaticon-search-2"></i></a>
                      </div>
                  </div>
                  <div class="hb_blog_content">
                      <span class="post-author">
                          <a href="blog_single.html"><img src="images/testimonial3.jpg" alt="herbal-pure-product-12"></a>
                      </span>
                      <ul class="hb_categories">
                          <li><a href="#">June 12, 2019</a></li>
                      </ul>
                      <div class="clearfix"></div>
                      <h3><a href="blog_single.html">Et harum quidem rerum facilis</a></h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec scelerisque diam finibus augue pretium, ut finibus est tincidunt. Nulla nec ullamcorper odio.</p>
                      <div class="hb_authorname">
                          <span class="hb_date">
                              <i class="flaticon-counterclockwise"></i>8 Hours Ago
                          </span>
                      </div>
                      <div class="hb_custom_links">
                          <ul>
                              <li><a href="#"><i class="flaticon-favorite-heart-button"></i>24</a></li>
                              <li><a href="#"><i class="flaticon-eye"></i>51</a></li>
                              <li><a href="#"><i class="flaticon-speech-bubbles-comment-option"></i>04</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <div class="hb_blog_div wow fadeIn" data-wow-delay="1s">
                  <div class="hb_blog_img">
                      <img src="images/blog_small3.jpg" class="img-responsive" alt="herbal-pure-product-13">
                      <div class="hb_img_overlay"></div>
                      <div class="hb_overlay_icon">
                          <a href="images/blog_big3.jpg" class="zoom_icon"><i class="flaticon-search-2"></i></a>
                      </div>	
                  </div>
                  <div class="hb_blog_content">
                      <span class="post-author">
                          <a href="blog_single.html"><img src="images/testimonial1.jpg" alt="herbal-pure-product-14"></a>
                      </span>
                      <ul class="hb_categories">
                          <li><a href="#">June 12, 2019</a></li>
                      </ul>
                      
                      <div class="clearfix"></div>
                      <h3><a href="blog_single.html">Nam libero tempore cum</a></h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec scelerisque diam finibus augue pretium, ut finibus est tincidunt. Nulla nec ullamcorper odio.</p>
                      <div class="hb_authorname">
                          <span class="hb_date">
                              <i class="flaticon-counterclockwise"></i>8 Hours Ago
                          </span>
                      </div>
                      <div class="hb_custom_links">
                          <ul>
                              <li><a href="#"><i class="flaticon-favorite-heart-button"></i>24</a></li>
                              <li><a href="#"><i class="flaticon-eye"></i>51</a></li>
                              <li><a href="#"><i class="flaticon-speech-bubbles-comment-option"></i>04</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>-->
{% endblock %}