{% extends 'base.html' %}

{% block content%}
{% load static %}
<div class="hb_breadcrumbs_wrapper">
	<div class="hb_overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 wow fadeIn" data-wow-delay="1s">
				<div class="hb_pageheading">
					<h3>shop single</h3>
					<ol class="breadcrumb">
						<li><a href="index-2.html">Home</a></li>
						<li class="active">shop single</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="hb_white_wrapper shop_single hb_bottompadder42">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 wow fadeInUp">
				<div class="hb_shop_slider">
					<div id="rev_slider_8_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container"
						data-alias="facebook-feed8"
						style="margin:0px auto;background-color:#dddddd;padding:0px;margin-top:0px;margin-bottom:0px;">
						<!-- START REVOLUTION SLIDER 5.0.7 auto mode -->
						<div id="rev_slider_8_1" class="rev_slider fullwidthabanner" style="display:none;"
							data-version="5.0.7">
							<ul>
								<!-- SLIDE  -->
								<li data-index="rs-28" data-transition="scaledownfromleft" data-slotamount="default"
									data-easein="default" data-easeout="default" data-masterspeed="1500"
									data-thumb="images/product1.jpg" data-rotate="0" data-fstransition="fade"
									data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off">
									<!-- MAIN IMAGE -->
									<img src="js/plugins/revolution/images/dummy.png" alt="image" width="1920"
										height="1080" data-lazyload="images/product_big1.jpg"
										data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat"
										class="rev-slidebg" data-no-retina>
									<!-- LAYERS -->
								</li>
								<!-- SLIDE  -->
								<li data-index="rs-303" data-transition="scaledownfromleft" data-slotamount="default"
									data-easein="default" data-easeout="default" data-masterspeed="1500"
									data-thumb="images/product2.jpg" data-rotate="0" data-saveperformance="off">
									<!-- MAIN IMAGE -->
									<img src="js/plugins/revolution/images/dummy.png" alt="image" width="1920"
										height="1280" data-lazyload="images/product_big2.jpg"
										data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat"
										class="rev-slidebg" data-no-retina>
								</li>
								<!-- SLIDE  -->
								<li data-index="rs-302" data-transition="scaledownfromleft" data-slotamount="default"
									data-easein="default" data-easeout="default" data-masterspeed="1500"
									data-thumb="images/product3.jpg" data-rotate="0" data-saveperformance="off">
									<!-- MAIN IMAGE -->
									<img src="js/plugins/revolution/images/dummy.png" alt="image" width="1920"
										height="1280" data-lazyload="images/product_big3.jpg"
										data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat"
										class="rev-slidebg" data-no-retina>

								</li>
								<li data-index="rs-301" data-transition="scaledownfromleft" data-slotamount="default"
									data-easein="default" data-easeout="default" data-masterspeed="1500"
									data-thumb="images/product4.jpg" data-rotate="0" data-saveperformance="off">
									<!-- MAIN IMAGE -->
									<img src="js/plugins/revolution/images/dummy.png" alt="image" width="1920"
										height="1280" data-lazyload="images/product_big4.jpg"
										data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat"
										class="rev-slidebg" data-no-retina>
									<!-- LAYERS -->
								</li>
								<!-- SLIDE  -->
								<li data-index="rs-300" data-transition="scaledownfromleft" data-slotamount="default"
									data-easein="default" data-easeout="default" data-masterspeed="1500"
									data-thumb="images/product5.jpg" data-rotate="0" data-saveperformance="off">
									<!-- MAIN IMAGE -->
									<img src="js/plugins/revolution/images/dummy.png" alt="image" width="300"
										height="200" data-lazyload="images/product_big5.jpg"
										data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat"
										class="rev-slidebg" data-no-retina>
								</li>
							</ul>
							<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
						</div>
					</div><!-- END REVOLUTION SLIDER -->
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 wow fadeInUp">
				<div class="hb_product_single">
					<h5>Keemun Tea</h5>
					<p><del>$15</del> $12</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec efficitur erat diam, non iaculis
						ex dictum ut. Aenean sit amet odio nisi. Vestibulum vel dolor et justo sollicitudin tincidunt.
						Mauris eleifend elit metus. Fusce blandit nulla at massa venenatis, sed tincidunt nisl
						tincidunt. </p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec efficitur erat diam, non iaculis
						ex dictum ut. Aenean sit amet odio nisi.</p>
					<div class="hb_quantity"><label>quantity</label><input type="number" min="0" class="hb_input"
							placeholder="Quantity"></div>
					<div class="hb_product_btn">
						<a href="cart.html" class="hb_btn"><i class="flaticon-empty-shopping-cart"></i> add to cart </a>
						<a href="#" class="hb_btn"><i class="flaticon-favorite-heart-button"></i> add to whishlist </a>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 wow zoomIn">
				<div class="hb_tabdiv">
					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active">
							<a href="#description" aria-controls="description" role="tab"
								data-toggle="tab">Description</a>
						</li>
						<li role="presentation">
							<a href="#information" aria-controls="information" role="tab" data-toggle="tab">Aditional
								Information</a>
						</li>
						<li role="presentation">
							<a href="#reviews" aria-controls="reviews" role="tab" data-toggle="tab">Reviews</a>
						</li>
					</ul>

					<!-- Tab panes -->
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane active" id="description">
							<div class="hb_tab_content">
								<h3 class="tab_head"> DESCRIPTION</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec efficitur erat diam,
									non iaculis ex dictum ut. Aenean sit amet odio nisi.Vestibulum vel dolor et justo
									sollicitudin tincidunt. Mauris eleifend elit metus. Fusce blandit nulla at massa
									venenatis, sed tincidunt nisltincidunt. Vestibulum semper orci magna, vel gravida
									tellus tincidunt in. Donec et convallis mauris, tempor volutpat arcu. Ut mattis
									portagravida. Duis feugiat massa eget pellentesque malesuada. </p>
								<ul>
									<li>Curabitur eu diam odio.</li>
									<li>Curabitur eu diam odio.</li>
									<li>Curabitur eu diam odio.</li>
								</ul>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec efficitur erat diam,
									non iaculis ex dictum ut. Aenean sit amet odio nisi.Vestibulum vel dolor et justo
									sollicitudin tincidunt. Mauris eleifend elit metus. Fusce blandit nulla at massa
									venenatis, sed tincidunt nisltincidunt. Vestibulum semper orci magna, vel gravida
									tellus tincidunt in. Donec et convallis mauris, tempor volutpat arcu. Ut mattis
									portagravida. Duis feugiat massa eget pellentesque malesuada. </p>
							</div>
						</div>

						<div role="tabpanel" class="tab-pane" id="information">
							<div class="hb_tab_content">
								<h3 class="tab_head"> What are the payment options ?</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec efficitur erat diam,
									non iaculis ex dictum ut. Aenean sit amet odio nisi.Vestibulum vel dolor et justo
									sollicitudin tincidunt. Mauris eleifend elit metus. Fusce blandit nulla at massa
									venenatis, sed tincidunt nisltincidunt. Vestibulum semper orci magna, vel gravida
									tellus tincidunt in. Donec et convallis mauris, tempor volutpat arcu. Ut mattis
									portagravida. Duis feugiat massa eget pellentesque malesuada. </p>

								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec efficitur erat diam,
									non iaculis ex dictum ut. Aenean sit amet odio nisi.Vestibulum vel dolor et justo
									sollicitudin tincidunt. Mauris eleifend elit metus. Fusce blandit nulla at massa
									venenatis, sed tincidunt nisltincidunt. Vestibulum semper orci magna, vel gravida
									tellus tincidunt in. Donec et convallis mauris, tempor volutpat arcu. Ut mattis
									portagravida. Duis feugiat massa eget pellentesque malesuada. </p>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane" id="reviews">
							<div class="hb_tab_content">
								<div class="hb_review_div">
									<ul>
										<li>
											<div class="hb_review_img">
												<img src="images/review1.jpg" class="img-responsive" alt="image">
											</div>
											<div class="hb_review_data">
												<h3>Peter Parker</h3>
												<p>Pellentesque lobortis faucibus tincidunt. Proin posuere luctus
													cursus. Cras non eleifend nibh, vel porttitor metus. Laient squessty
													tincidunt purus id ante .</p>
												<h6><i class="fa fa-clock-o"></i> 8 Hours Ago <a href="#"><i
															class="fa fa-reply"></i> reply</a></h6>
											</div>
										</li>
										<li>
											<div class="hb_review_img">
												<img src="images/review2.jpg" class="img-responsive" alt="image">
											</div>
											<div class="hb_review_data">
												<h3>Peter Parker</h3>
												<p>Pellentesque lobortis faucibus tincidunt. Proin posuere luctus
													cursus. Cras non eleifend nibh, vel porttitor metus. Laient squessty
													tincidunt purus id ante .</p>
												<h6><i class="fa fa-clock-o"></i> 8 Hours Ago <a href="#"><i
															class="fa fa-reply"></i> reply</a></h6>
											</div>
										</li>
									</ul>
								</div>
								<div class="hb_review_form_div">
									<h3>your review:</h3>
									<form class="hb_review_form">
										<div class="row">
											<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
												<div class="form-group">
													<input type="text" class="form-control" placeholder="Name*">
												</div>
												<div class="form-group">
													<input type="text" class="form-control" placeholder="Email*">
												</div>
											</div>
											<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
												<div class="form-group">
													<textarea class="form-control" placeholder="Review*"
														rows="5"></textarea>
												</div>
											</div>
											<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
												<a href="#" class="hb_btn"> Post </a>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="hb_related_product">
					<h3>RElated products</h3>
					<div class="hb_related_product_slider">
						<div class="owl-carousel owl-theme">
							<div class="item wow fadeInUp">
								<div class="hb_product_div">
									<div class="hb_product_img">
										<img src="{% static 'img/product1.jpg' %}" class="img-responsive" alt="image">
										<div class="product-image-overlay">
											<ul class="cart_icons">
												<li>
													<a href="cart.html"><span><i
																class="flaticon-empty-shopping-cart"></i></span>Add to
														cart</a>
												</li>
												<li>
													<a href="#"><span><i class="flaticon-favorite-heart-button"></i>
														</span> Add to Wishlist </a>
												</li>
												<li>
													<a href="images/product_big1.jpg" class="zoom_icon"><span><i
																class="flaticon-search"></i> </span> Quick View </a>
												</li>
											</ul>
										</div>
									</div>
									<div class="hb_product_data">
										<h5><a href="shop_single.html">Black Organic Tea</a></h5>
										<p><del>$15</del> $12</p>
									</div>
								</div>
							</div>
							<div class="item wow fadeInUp">
								<div class="hb_product_div">
									<div class="hb_product_img">
										<img src="{% static 'img/product2.jpg' %}" class="img-responsive" alt="image">
										<div class="product-image-overlay">
											<ul class="cart_icons">
												<li>
													<a href="cart.html"><span><i
																class="flaticon-empty-shopping-cart"></i></span>Add to
														cart</a>
												</li>
												<li>
													<a href="#"><span><i class="flaticon-favorite-heart-button"></i>
														</span> Add to Wishlist </a>
												</li>
												<li>
													<a href="images/product_big2.jpg" class="zoom_icon"><span><i
																class="flaticon-search"></i> </span> Quick View </a>
												</li>
											</ul>
										</div>
									</div>
									<div class="hb_product_data">
										<h5><a href="shop_single.html">Loose Leaf Tea</a></h5>
										<p><del>$15</del> $12</p>
									</div>
								</div>
							</div>
							<div class="item wow fadeInUp">
								<div class="hb_product_div">
									<div class="hb_product_img">
										<img src="{% static 'img/product3.jpg' %}" class="img-responsive" alt="image">
										<div class="product-image-overlay">
											<ul class="cart_icons">
												<li>
													<a href="cart.html"><span><i
																class="flaticon-empty-shopping-cart"></i></span>Add to
														cart</a>
												</li>
												<li>
													<a href="#"><span><i class="flaticon-favorite-heart-button"></i>
														</span> Add to Wishlist </a>
												</li>
												<li>
													<a href="images/product_big3.jpg" class="zoom_icon"><span><i
																class="flaticon-search"></i> </span> Quick View </a>
												</li>
											</ul>
										</div>
									</div>
									<div class="hb_product_data">
										<h5><a href="shop_single.html">Oolong tea</a></h5>
										<p><del>$15</del> $12</p>
									</div>
								</div>
							</div>
							<div class="item wow fadeInUp">
								<div class="hb_product_div">
									<div class="hb_product_img">
										<img src="{% static 'img/product4.jpg' %}" class="img-responsive" alt="image">
										<div class="product-image-overlay">
											<ul class="cart_icons">
												<li>
													<a href="cart.html"><span><i
																class="flaticon-empty-shopping-cart"></i></span>Add to
														cart</a>
												</li>
												<li>
													<a href="#"><span><i class="flaticon-favorite-heart-button"></i>
														</span> Add to Wishlist </a>
												</li>
												<li>
													<a href="images/product_big4.jpg" class="zoom_icon"><span><i
																class="flaticon-search"></i> </span> Quick View </a>
												</li>
											</ul>
										</div>
									</div>
									<div class="hb_product_data">
										<h5><a href="shop_single.html">Black Organic Tea</a></h5>
										<p><del>$15</del> $12</p>
									</div>
								</div>
							</div>
							<div class="item wow fadeInUp">
								<div class="hb_product_div">
									<div class="hb_product_img">
										<img src="{% static 'img/product5.jpg' %}" class="img-responsive" alt="image">
										<div class="product-image-overlay">
											<ul class="cart_icons">
												<li>
													<a href="cart.html"><span><i
																class="flaticon-empty-shopping-cart"></i></span>Add to
														cart</a>
												</li>
												<li>
													<a href="#"><span><i class="flaticon-favorite-heart-button"></i>
														</span> Add to Wishlist </a>
												</li>
												<li>
													<a href="images/product_big5.jpg" class="zoom_icon"><span><i
																class="flaticon-search"></i> </span> Quick View </a>
												</li>
											</ul>
										</div>
									</div>
									<div class="hb_product_data">
										<h5><a href="shop_single.html">Black Organic Tea</a></h5>
										<p><del>$15</del> $12</p>
									</div>
								</div>
							</div>
							<div class="item wow fadeInUp">
								<div class="hb_product_div">
									<div class="hb_product_img">
										<img src="{% static 'img/product6.jpg' %}" class="img-responsive" alt="image">
										<div class="product-image-overlay">
											<ul class="cart_icons">
												<li>
													<a href="cart.html"><span><i
																class="flaticon-empty-shopping-cart"></i></span>Add to
														cart</a>
												</li>
												<li>
													<a href="#"><span><i class="flaticon-favorite-heart-button"></i>
														</span> Add to Wishlist </a>
												</li>
												<li>
													<a href="images/product_big6.jpg" class="zoom_icon"><span><i
																class="flaticon-search"></i> </span> Quick View </a>
												</li>
											</ul>
										</div>
									</div>
									<div class="hb_product_data">
										<h5><a href="shop_single.html">Black Organic Tea</a></h5>
										<p><del>$15</del> $12</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}