{% extends 'base.html' %}

{% block content%}
<div class="hb_breadcrumbs_wrapper">
	<div class="hb_overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 wow fadeIn" data-wow-delay="1s">
				<div class="hb_pageheading">
					<h3>shop</h3>
					<ol class="breadcrumb">
						<li><a href="index-2.html">Home</a></li>
						<li class="active">shop</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="hb_white_wrapper hb_shop hb_bottompadder42">
	<div class="container">
		
		<div class="row">
			<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 ">
				<div class="row">
					<div class="col-md-12">
					<div class="hb_shoppage wow fadeInLeft">
						<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 padding_left">
							<div class="hb_shop_view">
								<ul>
									<li>view By  </li>
									<li><a href="#" id="list"><i class="flaticon-signs"></i></a></li>
									<li class="active"><a href="#" id="grid"><i class="flaticon-squares"></i></a></li>
								</ul>
							</div>
							<div class="hb_sorting">
								<select class="hb_select">
									<option value="0">Default Sorting </option>
									<option value="1">Ascending</option>
									<option value="2">descending</option>
								</select>
							</div>
							<div class="clear"></div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 padding_left">
							<div class="hb_showing_product">
								<p>Showing 1-9 of 40 Results</p>
							</div>
						</div>
					</div>
					</div>
					<div id="products" class="list-group">
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 item">
							<div class="hb_product_div wow fadeInUp">
								<div class="hb_product_img">
									<img src="images/product1.jpg" class="img-responsive" alt="image">
									<div class="product-image-overlay">
										<ul class="cart_icons">
											<li>
												<a href="cart.html"><span><i class="flaticon-empty-shopping-cart"></i></span>Add to cart</a>
											</li>
											<li>
												<a href="#"><span><i class="flaticon-favorite-heart-button"></i> </span> Add to Wishlist  </a>
											</li>
											<li>
												<a href="images/product_big1.jpg" class="zoom_icon"><span><i class="flaticon-search"></i> </span> Quick View </a>
											</li>
										</ul>
									</div>
									<div class="hb_img_overlay"></div>
									<div class="hb_overlay_icon">
										<a href="images/product_big1.jpg" class="zoom_icon"><i class="flaticon-search-2"></i></a>
									</div>
								</div>
								<div class="hb_product_data">
									<h5><a href="shop_single.html">Black Organic Tea</a></h5>
									<p><del>$15</del> $12</p>
									<div class="hb_product_detail">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec efficitur erat diam, non iaculis ex dictum ut. Aenean sit amet odio nisi. Vestibulum vel dolor et justo sollicitudin tincidunt. Mauris eleifend elit metus. Fusce blandit nulla at massa venenatis, sed tincidunt nisl tincidunt. </p>
									</div>
									<div class="hb_product_btn">
										<a href="cart.html" class="hb_btn"><i class="flaticon-empty-shopping-cart"></i> add to cart </a>
										<a href="#" class="hb_btn"><i class="flaticon-favorite-heart-button"></i> add to whishlist </a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 item">
							<div class="hb_product_div wow fadeInUp">
								<div class="hb_product_img">
									<img src="images/product2.jpg" class="img-responsive" alt="image">
									<div class="product-image-overlay">
										<ul class="cart_icons">
											<li>
												<a href="cart.html"><span><i class="flaticon-empty-shopping-cart"></i></span>Add to cart</a>
											</li>
											<li>
												<a href="#"><span><i class="flaticon-favorite-heart-button"></i> </span> Add to Wishlist  </a>
											</li>
											<li>
												<a href="images/product_big2.jpg" class="zoom_icon"><span><i class="flaticon-search"></i> </span> Quick View </a>
											</li>
										</ul>
									</div>
									<div class="hb_img_overlay"></div>
									<div class="hb_overlay_icon">
										<a href="images/product_big2.jpg" class="zoom_icon"><i class="flaticon-search-2"></i></a>
									</div>
								</div>
								<div class="hb_product_data">
									<h5><a href="shop_single.html">Loose Leaf Tea</a></h5>
									<p><del>$15</del> $12</p>
									<div class="hb_product_detail">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec efficitur erat diam, non iaculis ex dictum ut. Aenean sit amet odio nisi. Vestibulum vel dolor et justo sollicitudin tincidunt. Mauris eleifend elit metus. Fusce blandit nulla at massa venenatis, sed tincidunt nisl tincidunt. </p>
									</div>
									<div class="hb_product_btn">
										<a href="cart.html" class="hb_btn"><i class="flaticon-empty-shopping-cart"></i> add to cart </a>
										<a href="#" class="hb_btn"><i class="flaticon-favorite-heart-button"></i> add to whishlist </a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 item">
							<div class="hb_product_div wow fadeInUp">
								<div class="hb_product_img">
									<img src="images/product3.jpg" class="img-responsive" alt="image">
									<div class="product-image-overlay">
										<ul class="cart_icons">
											<li>
												<a href="cart.html"><span><i class="flaticon-empty-shopping-cart"></i></span>Add to cart</a>
											</li>
											<li>
												<a href="#"><span><i class="flaticon-favorite-heart-button"></i> </span> Add to Wishlist  </a>
											</li>
											<li>
												<a href="images/product_big3.jpg" class="zoom_icon"><span><i class="flaticon-search"></i> </span> Quick View </a>
											</li>
										</ul>
									</div>
									<div class="hb_img_overlay"></div>
									<div class="hb_overlay_icon">
										<a href="images/product_big3.jpg" class="zoom_icon"><i class="flaticon-search-2"></i></a>
									</div>
								</div>
								<div class="hb_product_data">
									<h5><a href="shop_single.html">Oolong tea</a></h5>
									<p><del>$15</del> $12</p>
									<div class="hb_product_detail">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec efficitur erat diam, non iaculis ex dictum ut. Aenean sit amet odio nisi. Vestibulum vel dolor et justo sollicitudin tincidunt. Mauris eleifend elit metus. Fusce blandit nulla at massa venenatis, sed tincidunt nisl tincidunt. </p>
									</div>
									<div class="hb_product_btn">
										<a href="cart.html" class="hb_btn"><i class="flaticon-empty-shopping-cart"></i> add to cart </a>
										<a href="#" class="hb_btn"><i class="flaticon-favorite-heart-button"></i> add to whishlist </a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 item">
							<div class="hb_product_div wow fadeInUp">
								<div class="hb_product_img">
									<img src="images/product4.jpg" class="img-responsive" alt="image">
									<div class="product-image-overlay">
										<ul class="cart_icons">
											<li>
												<a href="cart.html"><span><i class="flaticon-empty-shopping-cart"></i></span>Add to cart</a>
											</li>
											<li>
												<a href="#"><span><i class="flaticon-favorite-heart-button"></i> </span> Add to Wishlist  </a>
											</li>
											<li>
												<a href="images/product_big4.jpg" class="zoom_icon"><span><i class="flaticon-search"></i> </span> Quick View </a>
											</li>
										</ul>
									</div>
									<div class="hb_img_overlay"></div>
									<div class="hb_overlay_icon">
										<a href="images/product_big4.jpg" class="zoom_icon"><i class="flaticon-search-2"></i></a>
									</div>
								</div>
								<div class="hb_product_data">
									<h5><a href="shop_single.html">Green Tea</a></h5>
									<p><del>$15</del> $12</p>
									<div class="hb_product_detail">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec efficitur erat diam, non iaculis ex dictum ut. Aenean sit amet odio nisi. Vestibulum vel dolor et justo sollicitudin tincidunt. Mauris eleifend elit metus. Fusce blandit nulla at massa venenatis, sed tincidunt nisl tincidunt. </p>
									</div>
									<div class="hb_product_btn">
										<a href="cart.html" class="hb_btn"><i class="flaticon-empty-shopping-cart"></i> add to cart </a>
										<a href="#" class="hb_btn"><i class="flaticon-favorite-heart-button"></i> add to whishlist </a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 item">
							<div class="hb_product_div wow fadeInUp">
								<div class="hb_product_img">
									<img src="images/product5.jpg" class="img-responsive" alt="image">
									<div class="product-image-overlay">
										<ul class="cart_icons">
											<li>
												<a href="cart.html"><span><i class="flaticon-empty-shopping-cart"></i></span>Add to cart</a>
											</li>
											<li>
												<a href="#"><span><i class="flaticon-favorite-heart-button"></i> </span> Add to Wishlist  </a>
											</li>
											<li>
												<a href="images/product_big5.jpg" class="zoom_icon"><span><i class="flaticon-search"></i> </span> Quick View </a>
											</li>
										</ul>
									</div>
									<div class="hb_img_overlay"></div>
									<div class="hb_overlay_icon">
										<a href="images/product_big5.jpg" class="zoom_icon"><i class="flaticon-search-2"></i></a>
									</div>
								</div>
								<div class="hb_product_data">
									<h5><a href="shop_single.html">Sencha Tea</a></h5>
									<p><del>$15</del> $12</p>
									<div class="hb_product_detail">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec efficitur erat diam, non iaculis ex dictum ut. Aenean sit amet odio nisi. Vestibulum vel dolor et justo sollicitudin tincidunt. Mauris eleifend elit metus. Fusce blandit nulla at massa venenatis, sed tincidunt nisl tincidunt. </p>
									</div>
									<div class="hb_product_btn">
										<a href="cart.html" class="hb_btn"><i class="flaticon-empty-shopping-cart"></i> add to cart </a>
										<a href="#" class="hb_btn"><i class="flaticon-favorite-heart-button"></i> add to whishlist </a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 item">
							<div class="hb_product_div wow fadeInUp">
								<div class="hb_product_img">
									<img src="images/product6.jpg" class="img-responsive" alt="image">
									<div class="product-image-overlay">
										<ul class="cart_icons">
											<li>
												<a href="cart.html"><span><i class="flaticon-empty-shopping-cart"></i></span>Add to cart</a>
											</li>
											<li>
												<a href="#"><span><i class="flaticon-favorite-heart-button"></i> </span> Add to Wishlist  </a>
											</li>
											<li>
												<a href="images/product_big6.jpg" class="zoom_icon"><span><i class="flaticon-search"></i> </span> Quick View </a>
											</li>
										</ul>
									</div>
									<div class="hb_img_overlay"></div>
									<div class="hb_overlay_icon">
										<a href="images/product_big6.jpg" class="zoom_icon"><i class="flaticon-search-2"></i></a>
									</div>
								</div>
								<div class="hb_product_data">
									<h5><a href="shop_single.html">Keemun Tea</a></h5>
									<p><del>$15</del> $12</p>
									<div class="hb_product_detail">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec efficitur erat diam, non iaculis ex dictum ut. Aenean sit amet odio nisi. Vestibulum vel dolor et justo sollicitudin tincidunt. Mauris eleifend elit metus. Fusce blandit nulla at massa venenatis, sed tincidunt nisl tincidunt. </p>
									</div>
									<div class="hb_product_btn">
										<a href="cart.html" class="hb_btn"><i class="flaticon-empty-shopping-cart"></i> add to cart </a>
										<a href="#" class="hb_btn"><i class="flaticon-favorite-heart-button"></i> add to whishlist </a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 wow fadeInLeft">
						<div class="hb_pagination">
							<nav aria-label="Page navigation">
								<ul class="pagination">
									<li><a href="#" aria-label="Next"><i class="fa fa-angle-left"></i></a></li>
									<li><a href="#" class="active">1</a></li>
									<li><a href="#">2</a></li>
									<li><a href="#">3</a></li>
									<li><a href="#" aria-label="Next"><i class="fa fa-angle-right"></i></a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
				<div class="hb_sidebar">
					<div class="widget widget_product_search wow fadeInRight">
						<form class="hb_product_search">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Search..">
							</div>
							<button class="hb_btn"><i class="flaticon-search"></i></button>
						</form>
					</div>
					<div class="widget widget_categories wow fadeInRight">
						<h3 class="widget-title">Categories</h3>
						<ul>
							<li><a href="#">Herbal Tea <span>40</span></a></li>
							<li><a href="#">Herbal Medicine <span>22</span></a></li>
							<li><a href="#">Herbal Oil <span>65</span></a></li>
							<li><a href="#">Organic Tea <span>07</span></a></li>
							<li><a href="#">Organic Oil <span>13</span></a></li>
						</ul>
					</div>
					<div class="widget widget_featured_product wow fadeInRight">
						<h3 class="widget-title">Featured Products</h3>
						<ul>
							<li><a href="#">Oolong Tea <span>81</span></a></li>
							<li><a href="#">Green Tea <span>12</span></a></li>
							<li><a href="#">Mate <span>34</span></a></li>
							<li><a href="#">Organic <span>65</span></a></li>
						</ul>
					</div>
					<div class="widget widget_rangeslider wow fadeInRight">
						<h3 class="widget-title">Filter By Price</h3>
						<div id="slider-range"></div>
						<div class="hb_range">
							<label for="amount">Price range:</label>
							<input type="text" id="amount" readonly>
						</div>
						<div class="hb_filter">
							<a href="#">filter</a>
						</div>
					</div>
					<div class="widget widget_tag_cloud wow fadeInRight">
						<h3 class="widget-title">tags</h3>
						<div class="tagcloud">
							<a href="#">Accessories</a>
							<a href="#">Green Tea</a>
							<a href="#">Fat Loss</a>
							<a href="#">Organic Products</a>
							<a href="#">Black</a>
							<a href="#">Healing</a>
						</div>
					</div>
				</div>
			</div>	
		</div>
	</div>
</div>
{% endblock %}